/* Container for the Calculator to Display */
.calculator {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    max-width: 400px;
    margin: 20px;
    font-size: 2.4rem;
    border: 2px solid lightgray;
}

/* set rows for flex */
.row {
    display: flex;
    flex-flow: row wrap;
}

.button {
    border: 1px solid gray;
}

/* displayValue is the black box that will display the value for the calculator */
.displayValue{
    min-width: 94%;
    background-color: black;
    color: white;
    padding: 3%;
    text-align: right;
}

.clearbutton {
    flex: 3 auto;
    text-align: center;
}