/* All styles for your Card Components live here */

.CardContainer {
    width: 500px;
}

.CardBanner {
    width: 100%;
}
    .CardBanner img {
        width: 100%;
    }

/* 
.CardContent {
}
.CardContent h2 {
}
.CardContent p {
}
.reference {
}
*/