.btn {
    flex: 1;
    border: 1px solid lightgray;
    text-align: center;
    padding: 5% 0;
    min-width: 80px;
}
.numberButtons {
    flex: 3 auto;
    min-width: 60%;
}
    .lgbtn {
        min-width: 50%;
    }
    .smallBtns {
        display: flex;
        flex-flow: row wrap-reverse;
    }
        .numberBtn {
            min-width: 30%;
            background-color: white;
            color: black;
        }

.actionButtons {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
}
    .actionBtn {
        flex-basis: 100%;
        background-color: red;
        color: white;
        padding-top: 30%;
    }